*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.screen{
    height: 60px;
    margin-top: 20px;
    width: 90%;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 25px;
    font-weight: 100;

}
.calculator {
    background-color: rgb(31, 31, 31);
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

input {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 4px;
    font-weight: 100;
    font-size: 20px;
    border: 0px;
}   

.whiteButton {
    background-color: rgb(170, 170, 170);
}

.largerButton {
    width: 92px;
}

.digit{
    background-color: rgb(83, 83, 83);
    color: rgba(255, 255, 255, 0.87);
    
}

.operator{
    background-color: rgba(255, 166, 0, 0.856);
    color: rgba(255, 255, 255, 0.87);
}

.digit:active {
    background-color: rgb(119, 119, 119);
}

.operator:active {
    background-color: rgba(255, 208, 120, 0.856);
}

.whiteButton:active {
    background-color: rgb(197, 197, 197);
}